 <div class="modal fade" id="cloneProposalForm<%= @proposal_type.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 550px; overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title">Proposal Forms</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3">
        <% ProposalForm.all.each do |proposal_form| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0 d-flex justify-content-between">
                  <p><%= proposal_form.title %></p>
                  <%= link_to 'Clone', clone_proposal_type_proposal_form_path(@proposal_type, proposal_form), class:'btn btn-pill btn-primary', method: :post, data: (active_form?(proposal_type_id) ? {confirm: 'You have already active proposal form. If you continue already active forms will become inactive'} : '') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
