<main class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div data-controller="survey">
                <%= form_with(url: survey_questionnaire_survey_index_path(code: params[:code]), method: :get) do |f| %>
                  <div class="col-lg-12">
                    <div class="mb-3"> 
                      <div>
                        <h2>Diversity and Inclusivity Survey</h2>
                        <p>BIRS is committed to providing a welcoming environment to all participants at BIRS events.
                        It is our goal to host workshops that are demographically diverse, and to foster opportunities for career
                        growth and development that are inclusive to all.
                        The collection of information from our participants is one way that BIRS supports this goal.
                        This information enables us to see trends, improvements, and shortfalls in the diversity of
                        our participants. Ultimately it provides data that can be used for evidence-based decision-making
                        to promote greater inclusion and diversity within mathematics.
                        Your answers to this survey will be stored electronically upon submission and access is
                        limited to BIRS staff on a need-to-know basis.
                        It will not be shared further in an identifiable form.
                        Answers to some common questions about the survey can be found here.
                      </p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div>
                        <h2>Disclaimer:</h2>
                        <p>All applicants must complete and submit a self-identification questionnaire when
                        applying to BIRS. However, you may choose “prefer not to answer’ for any or all of the questions
                        if you prefer not to self-identify. Although self-identifying is encouraged, there are no consequences
                        or penalties if you choose not to. Your self-identification information is not part of your application,
                        and is neither accessible to, shared with, external reviewers and/or selection committee members in an
                        identifiable form.</p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <input type="checkbox" onchange="document.getElementById('nextPage').disabled = !this.checked;" />
                      <p>I have read the information and agree to move forward with the survey.</p>
                      <div class="float-end">
                        <input type="submit" name="nextPage" disabled="disabled" class="inputButton btn btn-primary" id="nextPage" />
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
