<main class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div data-controller="survey">
                <%= form_with(url: survey_questionnaire_survey_index_path, method: :get) do |f| %>
                  <div class="col-lg-12">
                    <div class="mb-3"> 
                      <div>
                        <h2>Introduction:</h2>
                        <p> <%= @survey.introduction %> </p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div>
                        <h2>Disclaimer:</h2>
                        <p> <%= @survey.disclaimer %> </p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <input type="checkbox" onchange="document.getElementById('nextPage').disabled = !this.checked;" />
                      <p>I have read the information and agree to move forward with the survey.</p>
                      <div class="float-end">
                        <input type="submit" name="nextPage" disabled="disabled" class="inputButton btn btn-primary" id="nextPage" />
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
