# Note: data containers are used here mainly for developing with
# MacOS. Docker performance is too slow to run rails when the gems
# and/or database is stored on host-mounted volumes.
#
# Create data volumes like this:
# docker volume create --name=proposals_data --label proposals_database
#
# docker volume create --name=proposals_cache --label proposals_cache
#
# Be sure to update all of the usernames, passwords, and keys with secure ones!
# Generate secure strings using:
# < /dev/urandom LC_CTYPE=C tr -dc _A-Z-a-z-0-9 | head -c${1:-64};echo


version: '3.8'
services:
  db:
    image: postgres:13.1
    container_name: proposals_db
    volumes:
      - ./db/pg-init:/docker-entrypoint-initdb.d
      - poposals_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postges
      - POSTGRES_PASSWORD=
      - PSQL_TRUST_LOCALNET=true
      - DB_PORT=5433
      - DB_NAME=proposals_production,proposals_development,proposals_test
      - DB_USER=propuser
      - DB_PASS=

  web:
    build: .
    container_name: proposals
    command: /sbin/entrypoint.sh
    ports:
      - '3000:3000'
    volumes:
      - proposals_cache:/home/app/proposals/vendor/cache
      - proposals_cache:/home/app/proposals/node_modules
    links:
      - db
    environment:
      - DB_USER=propuser
      - DB_PASS=
      - RAILS_ENV=development
      - YARN_ENV=development
      - RAILS_SERVE_STATIC_FILES=true
      - SECRET_KEY_BASE=
      - SECRET_TOKEN=
      - DEVISE_SECRET_KEY=
      - DEVISE_JWT_SECRET_KEY=
      - DEVISE_PEPPER=
      - DEVISE_EMAIL=webmaster@example.com
      - APPLICATION_HOST=localhost
      - APPLICATION_PROTOCOL=http
      - EMAIL_SERVER=mail.example.com
      - EMAIL_PORT=587
      - EMAIL_STARTTLS=true
      - WEBMASTER_EMAIL=webmaster@example.com
      - BIRS_EMAIL=birs@example.com
      - CMO_EMAIL=cmo@example.com
      - IASM_EMAIL=iasm@example.com
      - UBCO_EMAIL=ubco@example.com



volumes:
  proposals_data:
    external:
      name: "proposals_data"
  proposals_cache:
    external:
      name: "proposals_cache"
