<div class="form-group mb-4">
  <label class="form-label" for="statement"><%= field.statement %></label>
  <% proposal_field_options(field.fieldable).each do |text,value| %>
    <div>
      <input type="radio" name="radio" value="<%= value %>">
      <span><%= text %></span>
    </div>
  <% end %>
</div>
