<div class="form-group mb-3">
  <label for="statement"><%= field.statement %></label>
  <%= select_tag "Option", options_for_select(proposal_field_options(field.fieldable)), class: 'form-control', name: field.id %>
</div>
