<h4>EDI Rubric</h4>
<div data-controller="guidelines">
  <h4 id="edi_rubric"> <a href="guidelines#edi_rubric" data-action="mouseup->guidelines#copy" value="edi_rubric"><i class="align-middle me-2 fas fa-fw fa-link" value="/guidelines#edi_rubric" ></i></a> EDI Rubric</h4>
</div>
<div class="card">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">PROPOSAL TITLE</th>
          <th scope="col">Average score</th>
          <th scope="col">Exceptional</th>
          <th scope="col">Good</th>
          <th scope="col">Neutral</th>
          <th scope="col">Requires action</th>
          <th scope="col">Not passing the bar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Organizing committee</th>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell">The organizing committee has been carefully chosen to represent diversity within multiple categories, such as: career stage, backgrounds/minor tized groups, geography, subject area</td>
          <td class="d-none d-md-table-cell">The organizers represent diversity within three distinct categories among: career stage, background/minoritiz ed groups, geography, subject area</td>
          <td class="d-none d-md-table-cell">The organizers represent diversity within two groups: career stage, background/minori tized groups, geography, subject area</td>
          <td class="d-none d-md-table-cell">The members of the organizing committee have some variation within only one category: career stage, backgrounds/minori tized groups, geography, subject area</td>
          <td class="d-none d-md-table-cell">The  organizers do not represent a diverse group in any sense.</td>
        </tr>
        <tr>
          <th scope="row">Participants</th>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell">The participant list has been crafted with explicit attention to diversity and inclusion along multiple axes. Participants include different backgrounds and under-represented groups, career stages and geographical areas</td>
          <td class="d-none d-md-table-cell">The participant list explicitly addresses diversity along three different axes but not all, among: backgrounds and under-represented groups, career stages and geographical areas</td>
          <td class="d-none d-md-table-cell">The participant list explicitly addresses diversity along two different axes but not all, among: backgrounds and under-represented groups, career stages and geographical areas</td>
          <td class="d-none d-md-table-cell">The participant list only includes people with some variation within one of the following groups: backgrounds and under-represented groups, career stages and geographical areas</td>
          <td class="d-none d-md-table-cell">The participant list is monolithic</td>
        </tr>
        <tr>
          <th scope="row">Program</th>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell">The program is highly innovative and inclusive with a wide variety of strategiesto welcome and engagepeople from many different groups and career stages. Explicit measrementsof impact have been integrated into the proposal. </td>
          <td class="d-none d-md-table-cell">The program makes a conscious attempt to be iinclusive withseveral different types of programming.There is intent to track impact.</td>
          <td class="d-none d-md-table-cell">The program has some interesting aspects but requires more detailed planning and description.Unclear if impact can or will be tracked.</td>
          <td class="d-none d-md-table-cell">The program is traditional and needs major improvement</td>
          <td class="d-none d-md-table-cell">The participants can watch a series of lectures online instead</td>
        </tr>
        <tr>
          <th scope="row">Recommendation</th>
          <th colspan="6"></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
