<div data-controller="guidelines">
  <h4 id="scientific_merit_rubric"> <a href="guidelines#scientific_merit_rubric" data-action="mouseup->guidelines#copy" value="scientific_merit_rubric"><i class="align-middle me-2 fas fa-fw fa-link" value="/guidelines#scientific_merit_rubric" ></i></a> Scientific Merit Rubric</h4>
</div>
<div class="card" style="overflow-x: auto">
    <table class="table-responsive table-bordered">
      <thead >
        <tr>
          <th scope="col">PROPOSAL TITLE</th>
          <th scope="col">Average score</th>
          <th scope="col">(5) Exceptional</th>
          <th scope="col">(4) Good</th>
          <th scope="col">(3) Neutral</th>
          <th scope="col">(2) Requires action</th>
          <th scope="col">(1) Not passing the bar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-padding">Novelty <br><br>
            (Is this proposal unique?)
          </th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">The workshop shows a world-leading approach, a “first of its kind” endeavor. It is a forerunner in an emerging area of study that holds transformative potential.</td>
          <td class="d-none d-md-table-cell table-padding">The workshop is highly innovative in a developing field of study, significantly adding to current subject knowledge or application, and promoting new research directions.</td>
          <td class="d-none d-md-table-cell table-padding">The workshop outlines an interesting approach, idea or methodology that builds on a well- established area of study, with potential to advance subject knowledge.</td>
          <td class="d-none d-md-table-cell table-padding">Workshop topic is well established, but there is some indication of a fresh perspective or approach. Insufficient evidence provided as to how it will add to the established body of knowledge.</td>
          <td class="d-none d-md-table-cell table-padding">Subject is already well established, and there is little to no evidence that the proposal adds significantly to the existing knowledge. Similar workshops have been held previously/recently.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Scientific Impact <br><br>(Does this radically challenge our current understanding?)</th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">Impacts a large and diverse scientific community with significant scientific breakthroughs or real-world impact. <br><br> The impact is clearly defined and will be measured. <br><br>There is a high likelihood that this significant impact will be realized.</td>
          <td class="d-none d-md-table-cell table-padding">The outcomes of this workshop are likely to impact more than one field, with possible real- world impact.
          <br>Short-term benefits are notable, clearly described, and can be measured. <br><br> There is a reasonable likelihood that the impact will be realized.</td>
          <td class="d-none d-md-table-cell table-padding">Impact to a small area of research is described, but broader impact is unclear. <br><br> Short-term benefits to the research area are described and can be measured, but they are not exceptional. <br><br>Some of the objectives of the workshop could be achieved with the proposed activities.
          </td>
          <td class="d-none d-md-table-cell table-padding">The impact of the workshop is restricted to primarily one field or application. It might have minor real-world impact, but the case for this has not been clearly established. <br><br>Unclear how the impact can be measured. <br>Only a minority of the stated objectives of the workshop can be expected to be achieved.</td>
          <td class="d-none d-md-table-cell table-padding">No breakthrough. The outcome represents a “natural progression” in the field. Neglibible impact on field, application, or wider community. <br><br> There is lack of clarity or specificity about the benefits of the workshop activities.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Timeliness <br><br>(Is it important now?)</th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">Area has seen recent breakthroughs, time is ripe for new discoveries.</td>
          <td class="d-none d-md-table-cell table-padding">A hot topic area that is the focus of much current study.</td>
          <td class="d-none d-md-table-cell table-padding">Area has been under study for a long time, but new perspectives are emerging. Workshop will be of interest to the broad area.</td>
          <td class="d-none d-md-table-cell table-padding">Fairly obscure topic within the subject area, attracting little interest beyond specialists. No new developments to make the workshop relevant.</td>
          <td class="d-none d-md-table-cell table-padding">Extremely specialized niche of research, even within its broader subject area.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Potential for cross- disciplinary synergy <br><br>(Does it breakdown sub-specialty silos?)</th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">The interdisciplinary approach is reflected in the workshop team. The proposal is designed from an interdisciplinary perspective, with the aim to develop the interfacing frontiers. <br><br> The various disciplinary approaches and perspectives are fully integrated; the project is not an amalgamation of disciplinary-specific approaches.</td>
          <td class="d-none d-md-table-cell table-padding">The interdisciplinary approach is somewhat reflected in the team.
          The proposal incorporates different disciplinary approaches, bringing a novel perspective. <br><br>Proposes the application or adaptation of tools/methods/techniques from one discipline to solve a problem in another discipline.</td>
          <td class="d-none d-md-table-cell table-padding">The interdisciplinary nature of the project is achieved through an amalgamation of projects/activities that are disciplinary. <br><br>The proposal appears to have an interdisciplinary component “added on” to a more conventional project or program of research.</td>
          <td class="d-none d-md-table-cell table-padding">The team does not reflect the expertise required to execute an interdisciplinary approach. <br><br>The proposed tools/methods/techniques are already in use in or can be easily applied to the second disciplinary area, requiring little adaptation or development.</td>
          <td class="d-none d-md-table-cell table-padding">Subject area is hyper- focused, with little relevance to those outside of this specialization. <br><br>The application did not adequately establish the interdisciplinary nature of the project.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Training and mentorship <br><br>(Does it build future experts?)</th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">Clearly defined and integrated T&M goals and activities targeting a diverse population. Will have with long reaching impacts beyond the workshop.</td>
          <td class="d-none d-md-table-cell table-padding">Clearly defined T&M goals and activities, although further improvements could reasonably be made.</td>
          <td class="d-none d-md-table-cell table-padding">Some incorporation of T&M, but they are limited in detail, scope and/or long-term impact.</td>
          <td class="d-none d-md-table-cell table-padding">Invite list or program holds the potential for T&M opportunities, but this has not been explicitly integrated into the proposal or invite list.</td>
          <td class="d-none d-md-table-cell table-padding">Program or invitation list have been made with no consideration for T&M opportunities.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Participant/organizers lists <br><br>(Are the right people attending the workshop?)</th>
          <td class="d-none d-md-table-cell table-padding"></td>
          <td class="d-none d-md-table-cell table-padding">Experts from diverse research areas have expressed interest in attending and contributing. <br><br>
          Very strong organizational record. Organizers have used detailed well-defined criteria for selecting workshop participants.
          </td>
          <td class="d-none d-md-table-cell table-padding">Most of the subject experts are likely to participate. <br><br>Strong organizational record. Some effort has been made at explaining the mechanism for participant selection.</td>
          <td class="d-none d-md-table-cell table-padding">Some of the main experts in the workshop topic are present, but not necessarily any from the broader field or other areas that might be relevant for the workshop. <br><br>Criteria for selection unclear.</td>
          <td class="d-none d-md-table-cell table-padding">Several experts in the field are conspicuous by their absence. As a result, the workshop might be missing significant perspectives on the topic.</td>
          <td class="d-none d-md-table-cell table-padding">Few experts in the field are participating. Unclear if the organizers can achieve the workshop objectives with the proposed participants.</td>
        </tr>
        <tr>
          <th scope="row" class="table-padding">Recommendation</th>
          <th colspan="6"></th>
        </tr>     
      </tbody>
    </table>
  </div>
</div>
