 <div class="modal fade" id="cloneProposalForm<%= proposal_type.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Proposal Forms</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3">
        <% proposal_type.proposal_forms.each do |proposal_form| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0 d-flex justify-content-between">
                  <p><%= proposal_form.title %></p>
                  <%= link_to 'Clone', clone_proposal_form_path(proposal_form), class:'btn btn-pill btn-primary', method: :post %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
