<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @person&.fullname %>:</h1>
    <p>
      Thank you for letting us know that you will not be able to join the
      proposed workshop titled <%= @proposal.proposal_type.name %> currently under planning by
      <%= @proposal.lead_organizer&.fullname %>. We hope you can join us for some other event in the
      future.
    </p>
    <p>Sincerely,</p>
    <p>[The organizing committee]</p>
  </body>
</html>
