<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @organizer %>,</p>
  	<p>Thank you for submitting your proposal for the BIRS <%= @year %> scientific program. We have assigned it the code, "<%= @code %>", as a unique identifier. Please include this code in any correspondence with BIRS regarding your proposal. A copy of your proposal is attached. We will contact you for the next steps.</p>

    <p>Sincerely,</p>
    <p>Banff International Research Station,<br>
      and the Organizing Committee.</p>
  </body>
</html>
