<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Your proposal has been submitted.</h1>
  	<p>Please find the attached proposal copy.</p>

    <p>Sincerely,</p>
    <p>Banff International Research Station,<br>
      and the Organizing Committee.</p>
  </body>
</html>
