<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @feedback.user.fullname %> has submitted a feedback!</p>
    <p> Feedback: </p>
    <p><%= @feedback.content %></p>
  </body>
</html>
