<div class="modal fade" id="email-preview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>

<%= render 'proposal', proposal: @proposal %>
