<div class="nested-roles-permission-wrapper" data-new-record="<%= f.object&.new_record? %>"  >
  <div class="row mb-3">
    <div class="col-xs-6 col-md-6">
      <%= select_tag(:permission_type,options_for_select([['Read', 'Read'], ['Manage', 'Manage'], ['Write', 'Write']]),{ include_blank: '', class: "form-select", required: true, name: "role_privileges[NEW_RECORD][permission_type]", prompt: "Select Permission Type"}) %>
    </div>

    <div class="col-xs-6 col-md-6">
      <%= select_tag(:privilege_name,options_for_select([['Ams Subject', 'ams_subject'], ['Answer', 'answer'], ['Demographic Data', 'demographic_data'], ['Email', 'email'], ['Faq', 'faq'], ['Feedback', 'feedback'], ['Invite', 'invite'], ['Location', 'location'], ['Option', 'option'], ['Page Content', 'page_content'], ['Person', 'person'], ['Proposal', 'proposal'], ['Proposal Field', 'proposal_field'], ['Proposal Form', 'proposal_form'], ['Proposal Type', 'proposal_type'], ['Role', 'role'], ['Staff Discussion', 'staff_discussion'], ['Subject', 'subject'], ['Survey', 'survey'], ['User', 'user'], ['Validation', 'validation']]),{ include_blank: '', class: "form-select required", required: true, name: "role_privileges[NEW_RECORD][privilege_name]", prompt: "Select Permission Name"}) %>
    </div>
  </div>
</div>
