<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to "Dashboard", dashboards_path %>
          </li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %>
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-body">
              <h1>Thanks for submitting your proposal.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
