/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.fields-panel {
  width: 363px;
  max-width: 363px;
  box-sizing: border-box;
  padding: 12px 9px 9px 12px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 130%;
  z-index: 1002; 
}

.hidden {
  display: none;
}
