.fields-panel {
  width: 430px;
  box-sizing: border-box;
  line-height: 37px;
  padding: 12px 9px 9px 12px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 130%;
  z-index: 1002; 
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.collapsed {
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;   
}

.sidebar-nav .sidebar-item .proposal-item {
  margin-left: -20px;
}
