.fields-panel {
  width: 363px;
  max-width: 363px;
  box-sizing: border-box;
  padding: 12px 9px 9px 12px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 130%;
  z-index: 1002; 
}

.hidden {
  display: none;
}
