.fields-panel {
  width: 430px;
  box-sizing: border-box;
  line-height: 37px;
  padding: 12px 9px 9px 12px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 130%;
  z-index: 1002;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.collapsed {
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sidebar-nav .sidebar-item .proposal-item {
  margin-left: -20px;
}

.required:after {
    content:" *";
    color: red;
    margin-left: 3px;
}

.field-validation {
  color: red;
}

.table-padding {
  padding: 10px
}

label h2 {
  margin-top: 1.2em;
}

h3.form-section {
  margin-top: 2em;
}

h4.file-uploads {
  margin: 2em 0 0 0;
}
