 <!-- Footer -->
<footer class="py-5" id="footer-main">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
        <div class="copyright text-center text-muted">
          &copy; 2021 Banff International Research Station for Mathematical Innovation and Discovery. All Rights Reserved.
        </div>
    </div>
  </div>
</footer>
